body {
	font-family: Rubik, sans-serif;
}
.screen-reader-text {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
figure {
	max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
img.alignleft {
	float: left;
	margin-right: 1em;
}
img.alignright {
	float: right;
	margin-left: 1em;
}
.widget .card-body > ul,
.widget .card-body > ol {
	padding-left: 1em;
}